@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Secular+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  min-height: 100vh;
}

/* ---------------------- Navbar Component styling ---------------------- */
.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    
}
.heading .vertical-text{
    font-size: 28px;
    writing-mode: vertical-rl;
    transform:scale(-1);
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
}
.heading .capital-text{
    font-family: 'Secular One', sans-serif;
    font-size: 60px;
}

.nav-links {
  display: flex;
  margin: 0 10%;
  height: 25px;
   font-family: 'Roboto', sans-serif;
  align-items: center;
  justify-content: space-evenly;
}

 .links {
  text-decoration: none;
  color: black;
  position: relative;
  padding: 2px 12px;
  
}

 .links::after {
 position: absolute;
  content: '';
  width: 90%;
  height: 1px;
  left: 0;
  bottom: 0;
  background: #ec0547;
  transform: scale(0, 1);
  transform-origin: 50% 100%;
  transition: transform 0.3s ease;
}
 .links:hover::after {
  transform: scale(1, 1);
}

.horizontal-line {
  background-color: #D5D5D5;
  border: none;
  margin: 15px 10%;
  height: 2px;
}
@media(max-width:768px) {
  .nav-links{
    display: none;
  }
  .heading-container{
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    height: 44px;
  }
  .heading .capital-text {
    font-size: 40px;
  }
  .heading .vertical-text {
    font-size: 20px;
  }
 
}
/* ---------------------- Home Component styling ---------------------- */
.home-container {
  margin: 25px auto;
}

 .image-container {
    display: flex;
    margin: auto 10%;
  position: relative;
}

 .image-1 {
  /* text-align: left; */
  position: relative;
  width: 65%;
  margin-right: 20px;
}

 .image-image-1 {
  width: 100%;
  height:100% ;
  object-fit: cover;
  border-radius: 6px;

}
.image-text{
  position: absolute;
  /* top: 0; */
  bottom: 40px;
  width: 80%;
  text-align:left ;
  left: 10%;
}

 .image-text1 {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  color: white;
 }

 .image-text2 {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: white;

}

 .image-2 {
  position: relative;
  width: 35%;
  display: flex;
  flex-direction: column;
 height: 100%;
}

 .image-image-2 {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

@media (max-width:768px){
  .image-2{
    display: none;
  }
  .image-1{
    width: 100%;
    margin:0;
  }
  .image-text1{
    font-size: 15px;
  }
  .image-text2{
    font-size: 11px;
  }
  .image-container{
    margin: auto 2%;
  }
  .latest-container {
    margin: 2% 5% !important;
  }
  .latest-article-container{
    margin: 1% 5% 2% !important;
  }
}


/* ---------------------- The Latest Component styling ---------------------- */
.latest-container {
  margin: 3% 10%;
}

 .latest-heading {
  text-align: left;
  font-size: 30px;
  position: relative;
  margin: 10px 0 25px 0;
  font-family: 'Roboto' , sans-serif;
}

 .latest-heading:after {
  
  display: block;
  width: 7.5%;
  content: '';
  height: 4px;
  position: absolute;
  left: 0;
  bottom: -5px;
  background: #ec0648;
}
 .latest-body {
  display: flex;
  justify-content: space-between;
}

 .latest-card {
  width: 33%;
  display: flex;
}

.latest-card img {
  width: 97%;
  height: 200px;
  object-fit: cover;
}

 .latest-title {
  color: black;
  font-family: 'Ubuntu', sans-serif;
  font-size: 25px;
  text-decoration: none;
  text-align: left;
  margin: 15px;
}

 .latest-desc{
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  text-align: left;
  color: darkgray;
  margin: 15px;
}

 .latest-date {
  color: darkgray;
  text-align: left;
  margin: 10px;
}

 .latest-category {
  font-family: 'Poppins', sans-serif;
  color: black;
}

@media (max-width:768px) {
  .latest-body{
    display: block;
  }
  .latest-card{
    width: 100%;
  }

}

/* ---------------------- Latest Stories Component styling ---------------------- */
 .latest-Stories-horizontal-line {
  background-color: #777272;
  border: none;
  margin: 3% auto;
  height: 2px;
}

/* ---------------------- Latest Articles Component styling ---------------------- */
.latest-article-container {
  margin: 1% 10% 3% ;
  height: 100%;
}

 .latest-articles-heading {
  text-align: left;
  font-size: 30px;
  font-family: 'Ubuntu' , sans-serif;
  margin: 4% 0 1% 0;
  position: relative;
}

 .latest-articles-heading:after {
  content: '';
  display: block;
  background: #ee0648;
  width: 8%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: -7px;
 
}

 .articles-division {
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

 .article-bar {
  width: 100%;
  padding: 0 10px 10px 0;
}

 .latest-articles {
  margin: 2% 2%;
  display: flex;
}

 .latest-articles-image {
  width: 40%;
  object-fit: cover;

 }
.latest-article-details {
  margin-left: 15px;
  color: rgb(136, 128, 128);
  font-family: 'Poppins', sans-serif;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 
}

 .latest-article-heading {
  font-size: 25px;
  color: black;
}
 .latest-article-body {
  font-size: 13px;
  color: darkgray;
}
 .latest-article-category {
  color: black;
}

 .article-horizontal-line {
  background-color: #D5D5D5;
  border: none;
  margin: 3% auto;
  height: 2px;
}

@media(max-width:768px) {
  .articles-division {
    display: block;
  }
  .top-post{
    width: 100% !important;
  }
  .latest-articles{
    display: block;
  }
  .latest-articles-image {
    width: 100%;
  }
} 

/* --------------------- Top post Component styling ---------------------  */
 .top-post {
  width: 55%;
  font-family: 'Poppins', sans-serif;
  text-align: left;
}

 .top-post-advertisement {
  border: 1px solid #707070;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3%;
  height: 200px;
  font-size: 28px;
}

 .top-post-heading {
  font-size: 30px;
  margin: 3% 3% 7% 3%;
  position: relative;
}

 .top-post-heading:after {
  content: '';
  display: block;
  width: 20%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: -10px;
  background: #ea0e4b;
}

 .top-post-horizontal-line {
  background-color: #D5D5D5;
  border: none;
  margin: 5% 3%;
  height: 2px;
}

 .top-post-container {
  color: black;
  margin: 3%;
  display: flex;
  align-items: center;
}

 .top-post-image {
  width: 40%;
  height: 100px;
  object-fit: cover;
}

 .top-post-content {
  margin: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

 .top-post-title {
  font-size: 15px;
}
 .top-post-content p {
  color: darkgray;
}
.top-post-category {
  color: black;
}

/* ------------------------- Category Component Styling ------------------------- */

.category-container {
  margin: 0 10%;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

 .category-heading {
  text-align: left;
  margin: 5% 4%;
  font-size: 30px;
  font-family: 'Ubuntu' , sans-serif;
  position: relative;
}

 .category-heading:after {
  content: '';
  display: block;
  width: 10%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: -10px;
  background: #ea0e4b;
}

 .category-main {
  width: 66%;
}
 .content-container{
  margin: 20px;
  display: flex;
  justify-content: space-between;
  color: black;
}

 .category-main-images {
  width: 42%;
  object-fit: cover;
}

 .content-division {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-between;
  margin-left: 10px;
  font-family: 'Poppins', sans-serif;
}
 .content-main-title {
  font-size: 24px;
}

 .content-main-body {
  font-size: 13px;
  color: darkgray;
}

 .content-main-date {
  color: darkgray;
}
 .content-main-category {
  font-size: 17px;
}

 .category-horizontal-line {
  background-color: #D5D5D5;
  border: none;
  margin: 4% 3%;
  height: 2px;
}

 .category-top-post {
  width: 33%;
}

 .content-top-post-container {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  color: black;
}
 .content-top-post-images {
  width: 50%;
  object-fit: cover;
}
 .content-top-post-division {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-between;
  margin-left: 10px;
  font-family: 'Poppins', sans-serif;
}

.content-top-post-category {
  font-size: 14px;
}

.content-top-post-date {
  color: darkgray;
}

 .category-horizontal-line{
  background-color: #D5D5D5;
  border: none;
  margin: 4% 6%;
  height: 2px;
}

 .advertisement {
  font-family: 'Poppins', sans-serif;
  border: 1px solid #707070;
  margin: 5% 6%;
  display: flex;
  align-items: center;
  justify-content: center;
  height:300px;
  font-size: 24px;
}

@media(max-width:768px){
  .category-container{
    display: block;
    margin: 0 5% !important;
    width: 90%;
  }
  .category-main {
    width: 100%;
  }
  .category-top-post{
    width: 100%;
  }
}
@media(max-width:545px){
  .content-container{
    display: block;
  }
  .category-main-images{
    width: 100%;
  }
}

/* ------------------------- Article Component Styling ------------------------- */
.article-container {
  margin: 3% 30%;
  text-align: left;
  font-family: 'Poppins', sans-serif;
  cursor: default;
}

 .article-title {
  font-size: 25px;
  margin: 3% auto;
}

 .article-image {
  text-align: center;
  width: 100%;
  object-fit: cover;
}

 .article-description {
  margin: 4% auto;
}

 .article-category-clap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

 .article-category {
  padding: 10px;
  background-color: #f3f0f0;
  color: #adabab;
  border-radius: 5px;
}

 .article-clap {
  display: flex;
  align-items: center;
}

 .article-clap-image {
  height: 33px;
  margin: 10px;
}

 .article-horizontal-line {
  background-color: #D5D5D5;
  border: none;
  margin: 3% auto;
  height: 2px;
}

 .article-user {
  display: flex;
  align-items: center;
}

 .artice-user-image {
  height: 100px;
}

 .article-user-division {
  margin: auto 3%;
}

.article-user-written {
  text-transform: uppercase;
  color: #A2A2A2;
  font-size: 12px;
  margin-bottom: 10px;
}

 .article-user-date {
  color: #A2A2A2;
  font-size: 14px;
  margin-top: 10px;

}
@media(max-width:768px){
  .article-container{
    margin: 3% 3%;
  }
  .display-items{
    display: block !important;
  }
  .display-box{
    width: 100% !important;
  }
}


/* ------------------------- Display Component Styling ------------------------- */
.display-container {

  font-family: 'Poppins', sans-serif;
  cursor: default;
  text-align: left;
  padding: 2.5% 5%;
}

 .display-heading {
  font-size: 30px;
}

 .display-horizontal-line {
  background-color: #c2bcbc;
  border: none;
  margin: 2% auto;
  height: 2px;
}

.display-items {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
 .display-box {
  width: 30%;
}

.display-info {
  font-size: 16px;
  margin: 10px 0;
  color: #A2A2A2;
}

 .display-image {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

 .display-title {
  font-family: 'Ubuntu', sans-serif;
  font-size: 25px;
  margin: 20px 0;
}

 .display-user-box {
  margin: 5px auto;
  display: flex;
  align-items: center;
}

.display-user {
  height: 70px;
}
 .display-user-details {
  margin: auto 3%;
}

 .display-date {
  color: #979090;
  margin: 2% auto;
}

.mobile-menu{
  display: none ;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar {
  height: 60px;
  background-color: #fef7e5;
  position: relative;
}

.nav-elements ul {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 40px;
}




.menu-icon {
  display: block;
 cursor: pointer;
 width: 25px;
 height: 25px;
 margin-top: 16px;
}
@media (max-width: 768px) {
  

  .mobile-menu{
    display: block;
  }
 

  .nav-elements {
    position: absolute;
    right: 0;
    top: 60px;
    background-color: white;
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
     box-shadow: -5px 0 5px rgba(0, 0, 0, 0.1);
     z-index: 999;
   
  }

  .nav-elements.active {
    width: 270px;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
    list-style-type:none;
  }

  .nav-elements ul li {
    margin-right: unset;
    margin-top: 22px;
    height: 30px;
  }
}
